[submodule "components/epdiy"]
	path = components/epdiy
	url = https://github.com/vroland/epdiy.git
[submodule "components/esp_littlefs"]
	path = components/esp_littlefs
	url = https://github.com/joltwallet/esp_littlefs.git
